﻿@model WebOdev.Models.Haber

@{
    ViewBag.Title = "HaberDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Haber Detayları</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HaberBaslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HaberBaslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HaberIcerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HaberIcerik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HaberTarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HaberTarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HaberYer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HaberYer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KucukResim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KucukResim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resim1URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resim1URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resim2URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resim2URL)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kategori)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategori)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "HaberEdit", new { id = Model.HaberID }) |
    @Html.ActionLink("Listeye Dön", "HaberIndex")
</p>
