﻿@model IEnumerable<WebOdev.Models.Haber>

@{
    ViewBag.Title = "HaberIndex";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>HaberIndex</h2>

<p>
    @Html.ActionLink("Yeni Haber Yaz", "HaberCreate")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HaberBaslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HaberIcerik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HaberTarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HaberYer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KucukResim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resim1URL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resim2URL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kategori)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HaberBaslik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HaberIcerik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HaberTarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HaberYer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KucukResim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resim1URL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resim2URL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kategori)
        </td>
        <td>
            <span class="label label-success">
                @Html.ActionLink("Düzenle", "HaberEdit", new { id = item.HaberID }, new { @style = "color:white" }) 
            </span>|
            <span class="label label-info">
                @Html.ActionLink("Detaylar", "HaberDetails", new { id = item.HaberID }, new { @style = "color:white" }) 
            </span>|
            <span class="label label-danger">
                @Html.ActionLink("Sil", "HaberDelete", new { id = item.HaberID }, new { @style = "color:white" })
            </span>
</td>
    </tr>
}

</table>
