﻿@model IEnumerable<WebOdev.Models.HaberFormu>

@{
    ViewBag.Title = "Gelen Haberler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Gelen Haber Listesi</h2>


<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdSoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HaberYazisi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdSoyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HaberYazisi)
        </td>
        <td>
            <span class="label label-info">
                @Html.ActionLink("Detaylar", "HaberFormuDetails", new { id = item.ID }, new { @style = "color:white" }) </span> |
            <span class="label label-danger">
                @Html.ActionLink("Sil", "HaberFormuDelete", new { id = item.ID }, new { @style = "color:white" })</span>
</td>
    </tr>
}

</table>
