﻿@model WebOdev.Models.HaberFormu

@{
    ViewBag.Title = "Gelen Haber Detayı";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Gelen Haber Detayı</h3>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HaberYazisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HaberYazisi)
        </dd>

    </dl>
</div>
<p>
    
    @Html.ActionLink("Listeye Dön", "HaberFormuIndex")
</p>
