﻿@model WebOdev.Models.HaberFormu

@{
    ViewBag.Title = "Gelen Haberi Silme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Gelen Haberi Silme</h3>

<h3>Gelen Haberi Silmek İstiyor Musunuz ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HaberYazisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HaberYazisi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Listeye Dön", "HaberFormuIndex")
        </div>
    }
</div>
