﻿@model WebOdev.Models.Haber

@{
    ViewBag.Title = "HaberDelete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Haber Silme</h2>

<h3>Haberi Silmek İstiyor Musunuz?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HaberBaslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HaberBaslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HaberIcerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HaberIcerik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HaberTarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HaberTarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HaberYer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HaberYer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KucukResim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KucukResim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resim1URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resim1URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resim2URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resim2URL)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Kategori)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategori)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Listeye Dön", "HaberIndex")
        </div>
    }
</div>
