﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Admin Paneline Hoşgeldiniz</h2>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <img src="~/Content/img/example.jpg" class="img-thumbnail" height="600px" width="250px" style="margin-top:80px; margin-bottom:10px;" /><br />
            <a class="btn btn-primary " href="/Yonetici/SliderIndex" role="button" style="width:250px;">Slider</a>
            <img src="~/Content/img/example.jpg" class="img-thumbnail" height="600px" width="250px" style="margin-top:80px; margin-bottom:10px;" /><br />
            <a class="btn btn-primary " href="/Yonetici/HaberFormuIndex" role="button" style="width:250px;">Haber Formu</a>
        </div>
        <div class="col-md-5">
            <img src="~/Content/img/example.jpg" class="img-thumbnail" height="600px" width="250px" style="margin-top:80px; margin-bottom:10px;" /><br />
            <a class="btn btn-primary " href="/Yonetici/HaberIndex" role="button" style="width:250px;">Haberler</a>
            <img src="~/Content/img/example.jpg" class="img-thumbnail" height="600px" width="250px" style="margin-top:80px; margin-bottom:10px;" /><br />
            <a class="btn btn-primary " href="/Yonetici/KisilerIndex" role="button" style="width:250px;">Kişiler</a>
        </div>
        @*<div class="col-md-3">
            <img src="~/Content/img/example.jpg" class="img-circle" height="45px" width="45px" /><br />
            <a href="/Yonetici/HaberIndex">Haberler</a>
        </div>
        <div class="col-md-3">
            <img src="~/Content/img/example.jpg" class="img-circle" height="45px" width="45px" /><br />
            <a href="/Yonetici/KisilerIndex">Kişiler</a>
        </div>*@
    </div>
</div>




