﻿@model WebOdev.Models.Slider

@{
    ViewBag.Title = "Slider Silme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Slider Silme</h3>

<h3>Slider'ı Silmek İstiyor Musunuz?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SliderText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SliderText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaslangicTarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaslangicTarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BitisTarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BitisTarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResimURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResimURL)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Listeye Dön", "SliderIndex")
        </div>
    }
</div>
