﻿@model IEnumerable<WebOdev.Models.Slider>

@{
    ViewBag.Title = "Slider Listesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Slider Listesi</h3>

<p>
    @Html.ActionLink("Yeni Slider Oluştur", "SliderCreate")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SliderText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaslangicTarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BitisTarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResimURL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SliderText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaslangicTarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BitisTarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResimURL)
        </td>
        <td>
            <span class="label label-success">
            @Html.ActionLink("Düzenle", "SliderEdit", new { id = item.ID }, new { @style = "color:white" })
            </span>
            <span class="label label-info">
                @Html.ActionLink("Detaylar", "SliderDetails", new { id = item.ID }, new { @style = "color:white" })
            </span>
            <span class="label label-danger">
            @Html.ActionLink(" Sil ", "SliderDelete", new { id = item.ID }, new { @style = "color:white" })
                </span>
</td>
    </tr>
}

</table>
