﻿@model WebOdev.Models.Slider

@{
    ViewBag.Title = "Slider Detayları";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Slider Detayları</h3>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SliderText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SliderText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaslangicTarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaslangicTarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BitisTarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BitisTarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResimURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResimURL)
        </dd>

    </dl>
</div>
<p>
    <span class="label label-success">
        @Html.ActionLink("Düzenle", "SliderEdit", new { id = Model.ID }, new { @style = "color:white" })
    </span>     |
        @Html.ActionLink("Listeye Dön", "SliderIndex")
</p>
