﻿@model WebOdev.Models.RegisterViewModel
@{
    ViewBag.Title = "Üyelik Formu";
}


<div style="margin-top:10px" class="container genislik margin100 fluid">
    <div class="row margin100">
        <div class="col-md-1"></div>
        <div class="col-md-10" style="background-color:white; border-radius:5px">
            <div class="media">
                <div class="media-body">
                    <h2 class="media-heading pad18" style="text-align:center">@ViewBag.Title</h2>
                    <p style="text-align:center">
                        Öncelikle sitemize hoşgeldiniz.Aşağıdaki formu doldurarak en doğru haberler hızlı ve kolayca ulaşabilirsiniz.
                    </p>

                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <hr />
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class = "col-md-2 control-label ">Email</label>
                            @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label " })*@
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control formgenislik" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label ">Şifre</label>
                            @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control formgenislik" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label ">Şifreyi Onayla</label>
                            @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control formgenislik" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-success" value="Kaydol" />
                            </div>
                        </div>
                    }
                    <br>

                </div>
                <div class="clear"></div>
                <div class="sosyal">
                    <p><h3 style="text-align:center"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Sosyal Medyada Takip Et</h3></p><hr />
                    <div class="row">
                        <div class="col-md-4"><a href="#"><img class="sosyalfoto" src="~/Content/img/facebook-beğen.png" /></a></div>
                        <div class="col-md-4"><a href="#"><img class="sosyalfoto" src="~/Content/img/instagram-logo.jpg" /></a></div>
                        <div class="col-md-4"><a href="#"><img class="sosyalfoto" src="~/Content/img/Google-Plus-Logo.png" /></a></div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>




   

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
