﻿
.padsifirla{
	padding:0px;
}
.logoyazisi{
	float:left;
	font-size:18px;
	padding-left:60px;
	padding-right:50px;
	margin-top:12px;
	
}
.kirmizikutu{
    text-decoration:none;
    text-decoration-line:none;
}
.menupad{
	margin-left:15px;
	margin-right:15px;
  
	
}
.headcolor{
    color:red;
}
.girisbtn{
    margin-top:8px;
    margin-right:8px;
}
.kayitgiris{
	padding-top:10px;
	
}
.kayitbuton{
	margin-left:40px;
}
.socialicons{
	float:left;
	margin-left:8px;
	list-style-type:none;
	margin-top:auto;
	
}
.ortala{
	max-width:1140px;
	margin-left:auto;
	margin-right:auto;
	
}
.pad18{
	padding-top:18px;
}
.fill{
	width:100%;
	height:100%;
}
.pad20{
	padding:20px;
}
.sifirla{
	clear:both;
}
.content{
	background-color:#FFFFFF;
	
}
.contbutton{
	width:100%;
}
.contheader{
	color:#232323;
	
}
.contheader:hover{
	color:#ea3745;
	text-decoration:none;
}
.sliderpad{
	margin-top:45px;
	width:85%;
	
}
.pad5{
	padding-top:5px;
}
.height{
	height:450px;
}
.buttoncolor{
	background-color:#a94442;
}

.genislik{
	width:900px;
	height:auto;
}
.padding100{
	margin-top:100px;
}
.clear{
	clear:both;
}
.sosyalfoto{
	width:250px;
	height:100px;
}
.formgenislik{
	width:70%;
}


.ayiracspan{
	background-color:#e00000;
	height:38px;
	line-height:38px;
	padding:0 20px;
	text-align:center;
	font-size:14px;
	font-weight: bold;
    color: #fff;
    
    text-transform: uppercase;
    display: table;
    margin: 0 auto;
}

.margin10{
	margin:10px;
}
.floatsol{
	float:right;
}
.pad5{
	padding:5px;
}
.haberbutonu{
	float:right;
	margin-bottom:10px;
	margin-top:10px;
	width:30%;
}
.footer{
	    color: #777;
    background-color: #1b1b1b;
    border-top: 3px solid ;
}
.footerrenk{
    background-color: black;
}
.footerfoto{
	height:48px;
	width:48px;
}
.footerbottom{
	
    color: #999;
    border-top: 1px solid #1b1b1b;
	line-height:50px;
	
	
}
.footeryazi{
	text-align:right;
}



.beyazyazi{
    color:white;
}

.adminsolpanel{
    background-color:#777;
    color:white;
    height:720px;
}
.adminback{
    background-color:#e9ebee;
}
.sollink{
    line-height:20px;
    font-size:18px;
    margin:10px;
    
}
.adminresim{
    margin-bottom:120px;
    margin-top:40px;
}

.adminlabel{
    font-size:20px;
    margin-top:50px;
    font-size:20px;
}
.aramatext{
    float:right;
}
.ayirac{
	background-image:url(~/Content/img/sep.png);
    background-repeat:repeat-x;
    
}
.tarihyer{
    color:gray;
    float:right;
    margin-right:15px;
}
.habericerik{
    margin:10px;
}
.merkez{
	float:center;
}
.2licontent{
	float:right;
}

