﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4" style="background-color:white">
        <h3 style="text-align:center">Dil Seçim Ekranına Hoşgeldiniz</h3>
        <br />
        <br />
            <div class="col-md-6"><img src="~/Content/img/turk.jpg" width="50px" height="50px" />
            @Html.ActionLink("Türkçe", "Change", "Language", new { LanguageAbbrevation = "en" }, null)</div>
             <div class="col-md-6">
            <img src="~/Content/img/ingiliz.png" width="50px" height="50px" />
            @Html.ActionLink("English", "Change", "Language", new { LanguageAbbrevation = "tr" }, null)
            </div>
            
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

    </div>
    <div class="col-md-4"></div>
</div>

