﻿@{
    ViewBag.Title = "İletişim";
}

<div class="col-md-6" style="background-color:white">

    <h2>@ViewBag.Title</h2>


    <address>
        Adres: Haber Cad. Haber Sokağı 46/8<br />
        Telefon: 123 45 67<br />

    </address>

    <form>

        <div class="form-group">

            <label class="control-label " for="ad">Adınız</label>
            <input class="form-control" id="ad" name="ad" type="text" />
        </div>

        <div class="form-group">

            <label class="control-label " for="soyad">Adınız</label>
            <input class="form-control" id="soyad" name="soyad" type="text" />
        </div>

        <div class="form-group">

            <label class="control-label requiredField" for="email">Email Adresiniz<span class="asteriskField">*</span></label>
            <input class="form-control" id="email" name="email" type="text" />
        </div>

        <div class="form-group">

            <label class="control-label " for="telefon">Telefon</label>
            <input class="form-control" id="telefon" name="telefon" type="text" />
        </div>

        <div class="form-group">
            <!-- Message field -->
            <label class="control-label " for="mesaj">Mesajınız</label>
            <textarea class="form-control" cols="40" id="mesaj" name="mesaj" rows="10"></textarea>
        </div>

        <div class="form-group">
            <button class="btn btn-primary " name="submit" type="submit">Gönder</button>
        </div>

    </form>


    @*<address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>*@

</div>
<div class="col-md-5 iletisimarka maps" style="background-color:white">

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3059.512168822003!2d32.845126314932756!3d39.92993197942466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34efbdcbd4cad%3A0x7e19bd6feed0b42d!2sEti%2C+Tok+Sk.+No%3A7%2C+06570+%C3%87ankaya%2FAnkara!5e0!3m2!1str!2str!4v1478196373391" width="400" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

