﻿@model WebOdev.Controllers.AnasayfaDTO
@{
    ViewBag.Title = "Ekonomi";
}

<div class="container">
    <div class="row">

        <div>
            <div class="col-md-9">
                <h3><label><span class="glyphicon glyphicon-usd" aria-hidden="true"></span>&nbsp;Ekonomi Haberleri</label></h3>
            </div>
            @using (Html.BeginForm())
            {
                <div class="col-md-2">
                    @*<input type="text" class="form-control" placeholder="Haber Ara" name="srch-term" id="srch-term" style="width:180px">*@
                    @Html.TextBox("arama")
                </div>
                <div class="col-md-1">
                    <button class="btn btn-primary btn-sm" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"><b>Ara</b></span></button>
                </div>
            }
        </div>
    </div>

    @foreach (var item in Model.ekonomi)
    {
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail" style="border:solid 1px gray">
                <img src="~/Content/img/kitap1.jpg" alt="..." width="100%" height="590px">
                <div class="caption">
                    <h3><a href="#" class="contheader">@item.HaberBaslik</a></h3>
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    <label>@item.HaberTarih | @item.HaberYer</label>
                    <p></p>
                    <p><a href="/Home/HaberAltSayfa/?id=@item.HaberID" class="btn btn-success contbutton">Haber Detay</a></p>
                </div>
            </div>
        </div>
    }
</div>

