﻿
@{
    ViewBag.Title = "Gazeteler";
}

<div class="container" style="background-color:white">
    <h2>Gazeteler</h2>

    <div style="width:100%; height: 347px; overflow: hidden;">
        <iframe src="http://www.gazeteoku.com/siteneekle/gazeteilksayfa.html?t=8" width="100%" height="347px" frameborder="0" scrolling="AUTO"></iframe>
    </div>
    <div style="width:100%; height: 347px; overflow: hidden;">
        <iframe src="http://www.gazeteoku.com/siteneekle/yazarlaryatay.html?t=4" width="100%" height="132px" frameborder="0" scrolling="AUTO"></iframe>
    </div>


</div>