﻿@model WebOdev.Models.Haber

@{
    ViewBag.Title = Model.HaberBaslik;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div style="background-color:white">
        <h2 class="media-heading pad18" style="text-align:center">@Model.HaberBaslik</h2>
        <img src="@Model.Resim1URL" alt="HaberFoto" height="300px" width="600px" />
        <hr />
        <div class="tarihyer">@Model.HaberTarih - @Model.HaberYer</div>
        <div class="habericerik">
            <p>@Model.HaberIcerik</p>
        </div>
        
        
    </div>
</div>

