﻿@{
    ViewBag.Title = "AnaSayfa";
}
@model WebOdev.Controllers.AnasayfaDTO


<div class="container">
    <!-- SLİDER ÇUBUĞU -->
    <div class="row">
        <div class="col-md-8 slidyuksek">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="1000">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                   @foreach (var item in Model.slider)
                    {


                    <div class="item">
                        @if (item.ResimURL == null)
                        {
                            <img class="fill" src="~/Content/img/hizliveofkeli.jpg" alt="...">
                            <div class="carousel-caption">
                                Resim Yok
                            </div>

                        }
                        else
                        {
                            <img class="fill" src="@item.ResimURL" alt="...">
                            <div class="carousel-caption">
                                @item.SliderText
                            </div>
                        }
                        
                        
                    </div>
                    }
                    
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>




        </div>

        <!-- Puan Durumu -->
        <div class="col-md-4">
            <div class="panel panel-default" style="background-color:#F7F7F9">

                <div class="panel-body">

                    <iframe frameborder="0" width="300" height="230" src="http://www.trtspor.com/puandurumu-ekle/?lig=1&renk=a&baslik=1&resimler=1&a=5"></iframe>
                    <div style="text-align:center;line-height: 23px;border-top: solid 1px #ccc; color: #666; margin-top: 5px;box-shadow: 0 -1px 3px #ccc;">

                    </div>
                </div>
                <!-- BİTİŞ: TRT Spor Sitene Ekle -->

            </div>
        </div>

    </div>

</div>

<!-- AYIRAC -->
<div class="container">
    <div class="row">
        <h4 class="ayirac">
            <a href="/Home/SonDakika" class="kirmizikutu"><span class="ayiracspan">SON DAKİKA HABERLER</span></a>
        </h4>
    </div>
</div>


<!-- CONTENTS -->
<div class="container">
    <div class="row ">
        @foreach (var item in Model.haberlerim)
        {
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail" style="border:solid 1px gray">
                    <img src="~/Content/img/kitap1.jpg" alt="..." width="100%" height="590px">
                    <div class="caption">
                        <h3><a href="/Home/HaberAltSayfa/?id=@item.HaberID" class="contheader">@item.HaberBaslik</a></h3>
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                        <label>@item.HaberTarih</label><br />
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                        <label>@item.HaberYer</label>
                        <p>
                            <a href="/Home/HaberAltSayfa/?id=@item.HaberID" class="btn btn-success contbutton">@WebOdev.Resources.HomeTexts.Detail</a>

                            @*@Html.ActionLink("Haber Detayı","HaberAltSayfa","Home", new { id=item.HaberID })*@
                        </p>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
    <!-- AYIRAC -->
    <div class="container">
        <div class="row">
            <h4 class="ayirac">
                <a href="/Home/Magazin" class="kirmizikutu"><span class="ayiracspan">MAGAZİN HABERLERİ</span></a>
            </h4>
        </div>
    </div>
<div class="container">
    @foreach (var item in Model.magazin)
    {
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail" style="border:solid 1px gray">
                <img src="~/Content/img/kitap1.jpg" alt="..." width="100%" height="590px">
                <div class="caption">
                    <h3><a href="/Home/HaberAltSayfa/?id=@item.HaberID" class="contheader">@item.HaberBaslik</a></h3>
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    <label>@item.HaberTarih</label><br />
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    <label>@item.HaberYer</label>
                    <p>
                        <a href="/Home/HaberAltSayfa/?id=@item.HaberID" class="btn btn-success contbutton">Haber Detay</a>

                        @*@Html.ActionLink("Haber Detayı","HaberAltSayfa","Home", new { id=item.HaberID })*@
                    </p>
                </div>
            </div>
        </div>
    }
</div>
    


    <div class="container">
        <div class="row">
            <h4 class="ayirac">
                <a href="/Home/SPOR" class="kirmizikutu"><span class="ayiracspan">SPOR HABERLERİ</span></a>
            </h4>
        </div>
    </div>
<div class="container">
    @foreach (var item in Model.spor)
            {
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail" style="border:solid 1px gray">
                <img src="~/Content/img/kitap1.jpg" alt="..." width="100%" height="590px">
                <div class="caption">
                    <h3><a href="/Home/HaberAltSayfa/?id=@item.HaberID" class="contheader">@item.HaberBaslik</a></h3>
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    <label>@item.HaberTarih</label><br />
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    <label>@item.HaberYer</label>
                    <p>
                        <a href="/Home/HaberAltSayfa/?id=@item.HaberID" class="btn btn-success contbutton">Haber Detay</a>

                        @*@Html.ActionLink("Haber Detayı","HaberAltSayfa","Home", new { id=item.HaberID })*@
                    </p>
                </div>
            </div>
        </div>
    }
</div>

    <div class="container">
        <div class="row">
            <h4 class="ayirac">
                <a href="/Home/Ekonomi" class="kirmizikutu"><span class="ayiracspan">EKONOMİ HABERLERİ</span></a>
            </h4>
        </div>
    </div>

<div class="container">
    @foreach (var item in Model.ekonomi)
            {
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail" style="border:solid 1px gray">
                <img src="~/Content/img/kitap1.jpg" alt="..." width="100%" height="590px">
                <div class="caption">
                    <h3><a href="/Home/HaberAltSayfa/?id=@item.HaberID" class="contheader">@item.HaberBaslik</a></h3>
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    <label>@item.HaberTarih</label><br />
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    <label>@item.HaberYer</label>
                    <p>
                        <a href="/Home/HaberAltSayfa/?id=@item.HaberID" class="btn btn-success contbutton">Haber Detay</a>

                        @*@Html.ActionLink("Haber Detayı","HaberAltSayfa","Home", new { id=item.HaberID })*@
                    </p>
                </div>
            </div>
        </div>
    }
</div>
@*<!-- Content Devam -->
<div class="container">
    <div class="row">
        <span>
            <!-- spanli ve spansiz yap farka bak -->
           
            @*<div class="col-sm-6 col-md-3">
                <div class="thumbnail" style="border:solid 1px gray">
                    <img src="~/Content/img/kitap1.jpg" alt="..." width="100%" height="590px">
                    <div class="caption">
                        <h3><a href="#" class="contheader">Thumbnail label</a></h3>
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                        <label>10.11.2016 20:45</label>
                        <p>Türkiye’de ikinci defa yapılacak olan Pebble Meetup’a bu akşam bizde katılacağız. Meetup’ı düzenleyen arkadaşlarımız Fatih...</p>
                        <p><a href="#" class="btn btn-success contbutton" role="button">Read More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail" style="border:solid 1px gray">
                    <img src="~/Content/img/kitap1.jpg" alt="..." width="100%" height="590px">
                    <div class="caption">
                        <h3><a href="#" class="contheader">Thumbnail label</a></h3>
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                        <label>10.11.2016 20:45</label>
                        <p>Türkiye’de ikinci defa yapılacak olan Pebble Meetup’a bu akşam bizde katılacağız. Meetup’ı düzenleyen arkadaşlarımız Fatih...</p>
                        <p><a href="#" class="btn btn-success contbutton" role="button">Read More</a></p>
                    </div>
                </div>
            </div>*@
        @*</span>
        <span>*@
           
            @*<div class="col-sm-6 col-md-3">
                <div class="thumbnail" style="border:solid 1px gray">
                    <img src="~/Content/img/kitap1.jpg" alt="..." width="100%" height="590px">
                    <div class="caption">
                        <h3><a href="#" class="contheader">Thumbnail label</a></h3>
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                        <label>10.11.2016 20:45</label>
                        <p>Türkiye’de ikinci defa yapılacak olan Pebble Meetup’a bu akşam bizde katılacağız. Meetup’ı düzenleyen arkadaşlarımız Fatih...</p>
                        <p><a href="#" class="btn btn-success contbutton" role="button">Read More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail" style="border:solid 1px gray">
                    <img src="~/Content/img/kitap1.jpg" alt="..." width="100%" height="590px">
                    <div class="caption">
                        <h3><a href="#" class="contheader">Thumbnail label</a></h3>
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                        <label>10.11.2016 20:45</label>
                        <p>Türkiye’de ikinci defa yapılacak olan Pebble Meetup’a bu akşam bizde katılacağız. Meetup’ı düzenleyen arkadaşlarımız Fatih...</p>
                        <p><a href="#" class="btn btn-success contbutton" role="button">Read More</a></p>
                    </div>
                </div>
            </div>*@
  

<!-- AYIRAC -->
<div class="container">
    <div class="row">
        <h4 class="ayirac">
            <a href="/Home/HaberFormu" class="kirmizikutu"><span class="ayiracspan">HABER BİLDİR</span></a>
</h4>
    </div>
</div>
<!--   HABER BİLDİR -->

<div class="container">

    <div class="row">
            @using (Html.BeginForm("HaberGonder", "Home", FormMethod.Post))
            {
        <div class="col-md-4">
           
           
                <div class="form-group">
                    <label for="exampleInputName1" class="pad5">İsminiz</label>
                    @Html.TextBoxFor(m=>m.haberformum.AdSoyad, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email Adresiniz</label>
                    @Html.TextBoxFor(m=>m.haberformum.Email, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="exampleInputName2">Telefon Numaranız</label>
                    @Html.TextBoxFor(m=>m.haberformum.Telefon, new { @class = "form-control" })
                    <p class="help-block">@TempData["Mesaj"]</p>
                </div>
            </div>




        <div class="col-md-8">
                 
                <label class="pad5">Bildirmek İstediğiniz Haberi Buraya Yazabilirsiniz</label>
                @Html.TextAreaFor(m => m.haberformum.HaberYazisi, new { @class = "form-control", @Style = "height:200px" })
                <button type="submit" class="btn btn-primary  haberbutonu">Haberi Gönder</button>
            
        </div>
            }
    </div>

</div>