﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_AdminLayout</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="adminback">
    
        <div class="col-md-2 adminsolpanel">
            <img src="~/Content/img/jackie.jpg" height="200px" width="200px" alt="Admin Resim" class="img-circle adminresim">

            <a href="/Yonetici/SliderIndex" type="button" class="btn btn-primary btn-md btn-block">Sliderlar</a>
            <a href="/Yonetici/HaberIndex" type="button" class="btn btn-default btn-md btn-block">Haberler</a>
            <a href="/Yonetici/HaberFormuIndex" type="button" class="btn btn-primary btn-md btn-block">Haber Bildirileri</a>
            <a href="/Yonetici/KisilerIndex" type="button" class="btn btn-default btn-md btn-block">Üyeler</a>

        
           
        </div>
        <div class="col-md-10">
            @RenderBody()
        </div>
       
   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
