﻿<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    <title>@ViewBag.Title-Türkiyenin 1 Numaralı Haber Sitesi</title>

    <!-- Bootstrap -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body style="background-color:#f0f0f0">
    <div class="container">
        <!-- MENÜ ÇUBUĞU -->    <!-- -inverse-->
        <header class="navbar navbar-inverse navbar-fixed-top footer">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header ">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Haberler", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @*<a class="navbar-brand padsifirla" href="#">
                    <img src="img/logom.png" height="50px" width="60px" alt="MEVLÜT SEVİNÇ" title="MEVLÜT SEVİNÇ" />
                </a>*@
            </div>

            <span class="text-danger logoyazisi hidden-xs">

            </span>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav menupad">
                    <li>@Html.ActionLink(WebOdev.Resources.HomeTexts.Home, "Index", "Home")</li>
                    <li>@Html.ActionLink(WebOdev.Resources.HomeTexts.HotNews, "SonDakika", "Home")</li>



                    <li>@Html.ActionLink(WebOdev.Resources.HomeTexts.Newspaper, "Gazeteler", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@WebOdev.Resources.HomeTexts.Category <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink(WebOdev.Resources.HomeTexts.Sport, "Spor", "Home")</li>
                            <li>@Html.ActionLink(WebOdev.Resources.HomeTexts.Economy, "Ekonomi", "Home")</li>
                            <li>@Html.ActionLink(WebOdev.Resources.HomeTexts.Magazine, "Magazin", "Home")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink(WebOdev.Resources.HomeTexts.Contact, "Contact", "Home")</li>
                  

                    
                    

                </ul>
                
            <a href="/Language/Change"  class="btn btn-warning girisbtn" style="margin-left:27%" role="button">@WebOdev.Resources.HomeTexts.Language</a>
            @Html.Partial("_LoginPartial")
                


            @*<ul class="nav navbar-nav  kayitgiris kayitbuton">

                <li>
                    <a role="button" href="/Account/Register" class="btn btn-primary">
                        <span class="glyphicon glyphicon-user sagbosluk"></span> ÜYE OL
                    </a>
                </li>
                <li>
                    <a role="button" href="/Account/Login" class="btn btn-success btn-sm ">
                        <span class="glyphicon glyphicon-log-in sagbosluk"></span> GİRİŞ
                    </a>

                </li>
            </ul>*@

</div><!-- /.navbar-collapse -->
            <!-- /.container-fluid -->


        </header>
    </div>


    <div class="container body-content pad20 sliderpad">
        @RenderBody()
    </div>


    <footer class="footer" style="background-color:black">

        <div class="container footerrenk">
            <div class="row">
                <div class="col-sm-6">
                    <div>
                        <img src="~/Content/img/a.png" class="footerfoto" alt="Son Haber">
                        <p><a href="#" title="Son Haber">Son Haber</a> Gücünü halktan alan,gün geçtikçe büyüyen Türkiye'nin bir numaralı haber sitesidir.</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div>
                        <h3>SON HABER</h3>
                        <address>
                            <p>
                                <i class="glyphicon glyphicon-map-marker"></i>&nbsp;Haber Mah.<br>
                                Son Sokak 46/8 Sakarya<br>
                                <i class="glyphicon glyphicon-earphone"></i>&nbsp;0242 313 56 18 <br>
                                <i class="glyphicon glyphicon-envelope"></i>&nbsp;<a href="mailto:sonhaber@sakarya.com">sonhaber@sakarya.com</a>
                            </p>
                        </address>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="footerWidget">
                        <h3>Sosyal Medyada Biz</h3>
                        <ul class="socialicons">


                            <li class="socialicons"><a href="#"><img height="36px" width="36px" src="~/Content/img/face.ico" /></a></li>
                            <li class="socialicons"><a href="#"><img height="36px" width="36px" src="~/Content/img/googleplus.ico" /></a></li>
                            <li class="socialicons"><a href="#"><img height="36px" width="36px" src="~/Content/img/ins.ico" /></a></li>
                            <li class="socialicons"><a href="#"><img height="36px" width="36px" src="~/Content/img/link.ico" /></a></li>


                        </ul>
                    </div>
                </div>
            </div>
            <div class="row footerbottom">
                <div class="col-md-12">
                    <span class="fa fa-twitter"></span>
                    <p class="footeryazi">Copyright © 2017 <a href="#" class="footeryazi" target="blank">Son Haber</a> / Tüm Hakları Saklıdır.</p>
                </div>



            </div>




        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>