﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="nav navbar-nav navbar-right">
            <div class="btn-group" style="margin-top:4px" role="group" aria-label="...">
                <a href="/Manage/Index" role="button" class="btn btn-primary btn-sm girisbtn" title="Manage"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>@WebOdev.Resources.HomeTexts.Profile</a>
                @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
              
                    <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-danger btn-sm girisbtn"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>@WebOdev.Resources.HomeTexts.LogOut</a>
                    @*<a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>*@
                
            </div>
        </div>
    }
}
else
{
    <div class="nav navbar-nav navbar-right">
        <div class="btn-group" style="margin-top:4px" role="group" aria-label="...">
            <a class="btn btn-primary girisbtn btn-sm" href="/Account/Register" role="button">
                <span class="glyphicon glyphicon-user sagbosluk"></span>@WebOdev.Resources.HomeTexts.SignIn
            </a>


            <a class="btn btn-success girisbtn btn-sm" href="/Account/Login" role="button">
                <span class="glyphicon glyphicon-log-in sagbosluk"></span>@WebOdev.Resources.HomeTexts.SignUp
            </a>
        </div>
    </div>

    @*<div class="btn-group" style="margin-top:8px" role="group" aria-label="...">
            <a class="btn btn-primary girisbtn btn-sm" href="/Account/Register" role="button">
                <span class="glyphicon glyphicon-user sagbosluk"></span>ÜYE OL
            </a>


            <a class="btn btn-success girisbtn btn-sm" href="/Account/Login" role="button">
                <span class="glyphicon glyphicon-log-in sagbosluk"></span>GİRİŞ
            </a>
        </div>*@

    @*<ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>*@
}
