﻿@model WebOdev.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Şifre Değiştirme";
}
<div style="margin-top:10px" class="container genislik margin100 fluid">
    <div class="row margin100">
        <div class="col-md-1"></div>
        <div class="col-md-10" style="background-color:white; border-radius:5px">
            <div class="media">
                <div class="media-body">
                    <h3 class="media-heading pad18" style="text-align:center">@ViewBag.Title</h3>
                    <p style="text-align:center">
                        Şifre değiştirme ekranına hoşgeldiniz.Forma doldurarak kolaylıkla şifrenizi değiştirebilirsiniz.
                    </p>

                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <hr />
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class="col-md-2 control-label ">Şifreniz</label>
                            @*@Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })*@
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control formgenislik" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label ">Yeni Şifreniz</label>
                            @*@Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })*@
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control formgenislik" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label ">Yeni Şifre Onayı</label>
                            @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control formgenislik" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Değiştir" class="btn btn-primary" />
                            </div>
                        </div>
                    }


                    <br>


                    <div class="clear"></div>
                    <div class="sosyal">
                        <p><h3 style="text-align:center"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Sosyal Medyada Takip Et</h3></p><hr />
                        <div class="row">
                            <div class="col-md-4"><a href="#"><img class="sosyalfoto" src="~/Content/img/facebook-beğen.png" /></a></div>
                            <div class="col-md-4"><a href="#"><img class="sosyalfoto" src="~/Content/img/instagram-logo.jpg" /></a></div>
                            <div class="col-md-4"><a href="#"><img class="sosyalfoto" src="~/Content/img/Google-Plus-Logo.png" /></a></div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
