﻿@model WebOdev.Models.IndexViewModel
@{
    ViewBag.Title = "Profil";
}
<div style="margin-top:10px" class="container genislik margin100 fluid">
    <div class="row margin100">
        <div class="col-md-1"></div>
        <div class="col-md-10" style="background-color:white; border-radius:5px">
            <div class="media">
                <div class="media-body">
                    <h3 class="media-heading pad18" style="text-align:center">@ViewBag.Title</h3>
                    <p style="text-align:center">
                        Sitemize hoşgeldiniz.Bizi tercih ettiğiniz için teşekkürler!
                    </p>


                    <p class="text-success">@ViewBag.StatusMessage</p>
                    <div>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt><h4><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Şifre:</h4></dt>
                            <dd><h4>
                                [
                                @if (Model.HasPassword)
                                {
                                   @Html.ActionLink("Şifre Değiştir", "ChangePassword")
                                }
                                else
                                {
                                    @Html.ActionLink("Create", "SetPassword")
                                }
                                ]
                                </h4>
                            </dd>
                            



                            @*
                                Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                                 See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                                    for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                                 Uncomment the following block after you have set up two-factor authentication
                            *@
                            @*
                                <dt>Phone Number:</dt>
                                <dd>
                                    @(Model.PhoneNumber ?? "None")
                                    @if (Model.PhoneNumber != null)
                                    {
                                        <br />
                                        <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                                        using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                                        }
                                    }
                                    else
                                    {
                                        <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                                    }
                                </dd>
                            *@
                            @*<dt>Two-Factor Authentication:</dt>
                                <dd>
                                    <p>
                                        There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                                        for details on setting up this ASP.NET application to support two-factor authentication.
                                    </p>*@
                            @*@if (Model.TwoFactor)
                                {
                                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <text>Enabled
                                        <input type="submit" value="Disable" class="btn btn-link" />
                                        </text>
                                    }
                                }
                                else
                                {
                                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <text>Disabled
                                        <input type="submit" value="Enable" class="btn btn-link" />
                                        </text>
                                    }
                                }*@
                            @*</dd>*@
                        </dl>
                    </div>
                    <br>

                </div>
                <div class="clear"></div>
                <div class="sosyal">
                    <p><h3 style="text-align:center"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Sosyal Medyada Takip Et</h3></p><hr />
                    <div class="row">
                        <div class="col-md-4"><a href="#"><img class="sosyalfoto" src="~/Content/img/facebook-beğen.png" /></a></div>
                        <div class="col-md-4"><a href="#"><img class="sosyalfoto" src="~/Content/img/instagram-logo.jpg" /></a></div>
                        <div class="col-md-4"><a href="#"><img class="sosyalfoto" src="~/Content/img/Google-Plus-Logo.png" /></a></div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>